.container{
    height: 200px;
    width: 200px;
    background-color: yellow;
    animation-name: box;
    position: relative;
    animation-duration: 10s;
    animation-delay: 10s;
}

@keyframes box{
    0%{ background-color: brown; left: 0;top: 0;}
    25%{background-color: rgba(191, 0, 255, 0.642); left:500px;top:0; }
    50%{background-color: chocolate; left:500px;top:300px;}
    75%{ background-color: chartreuse;left: 0px;top: 300px; }
    100%{ background-color: black;}
}
